
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">F8 Education</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://lh3.googleusercontent.com/ogw/ADea4I40F1xv2S8p_V6PkIeRgaMsfx-9sC18fOMYSrgMog=s83-c-mo" alt="user-img" class="user-avt">
                        Ngô Toại
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/courses/create">Đăng khóa học</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a>
                        <a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Đăng xuất</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>